@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100vh;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* Use a CSS variable for actual viewport height */
:root {
  --vh: 100vh;
}

@media (orientation: portrait) {
  :root {
    --vh: calc(var(--vh, 1vh) * 100);
  }
}